.vscode
bridgit/algos/__pycache__
choropleth/__pycache__
genalgo/include/
genalgo/Scripts/
genalgo/Lib/
genalgo/pyvenv.cfg
clusters/include/
clusters/Scripts/
clusters/Lib/
clusters/pyvenv.cfg
clusters/__pycache__/
